In [10]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import date
%matplotlib inline

## Variables

In [4]:
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASSWORD')

In [5]:
DB_NAME = 'BacterialGrowth'

In [6]:
BACTERIA_SPECIES = 'Baceria'
BACTERIA_STRAIN = 'de prueba'

In [7]:
# First introduce and experiment and then get that EXP_ID and modify it to generate these two
CULT_ID = ''
REP_ID = ''

##Â Connexion to the database

In [8]:
cnx = mysql.connector.connect(user=user_name, password=password,host='localhost',database=DB_NAME)

In [9]:
# create cursor to read or write
cursor = cnx.cursor()

## Populate database

In [11]:
today = date.today()
today

datetime.date(2023, 3, 14)

In [17]:
q = f""" INSERT INTO Experiment (experimentDate) 
    VALUES ('{today}')
    """

cursor.execute(q)
cnx.commit()


q = "SELECT LAST_INSERT_ID();"
cursor.execute(q)
records = cursor.fetchall()

In [25]:
last_exp_id = records[0][0]
last_exp_id

3

In [29]:
q = f""" SELECT COUNT(*)
    FROM CultivationConditions
    WHERE experimentId = '{last_exp_id}'
    """

cursor.execute(q)
result=cursor.fetchone()
number_of_rows=result[0]

In [30]:
number_of_rows

0

In [31]:
CULT_ID = last_id*1000 + number_of_rows + 1
CULT_ID

3001

In [32]:
q = f""" INSERT INTO CultivationConditions (cultivationId) 
    VALUES ('{CULT_ID}')
    """

cursor.execute(q)
cnx.commit()

In [34]:
q = f""" SELECT COUNT(*)
    FROM TechnicalReplicates
    WHERE cultivationId = '{CULT_ID}'
    """

cursor.execute(q)
result=cursor.fetchone()
number_of_rows=result[0]

In [35]:
number_of_rows

0

In [37]:
REP_ID = str(CULT_ID) + '_' + str(number_of_rows + 1)
REP_ID

'3001_1'

In [38]:
q = f""" INSERT INTO TechnicalReplicates (replicateId) 
    VALUES ('{REP_ID}')
    """

cursor.execute(q)
cnx.commit()