In [1]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [8]:
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASSWORD')

In [9]:
cnx = mysql.connector.connect(user=user_name,password=password,host='localhost',database='FilePaths')

# create cursor to read or write
cursor = cnx.cursor()

cursor.close()
cnx.close()

## SELECT query and get the files paths

In [10]:
paths = pd.read_sql('SELECT filePath FROM FilePath', cnx)
paths

Empty DataFrame
Columns: [filePath]
Index: []

In [11]:
cursor.close()
cnx.close()